<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"> 
       
	<bean id="hibernateEntitryDao" class="com.tssa.common.dao.HibernateEntitryDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="userDao" class="com.tssa.adminUsers.dao.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	 
	<bean id="orderDao" class="com.tssa.myOrders.dao.OrderDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	 
	
	<bean id="customerDao" class="com.tssa.customer.dao.CustomerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	
	<bean id="roleDao" class="com.tssa.role.dao.RoleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	 
	
	<bean id="menuDao" class="com.tssa.menus.dao.MenuDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	 
	
	<bean id="optionDao" class="com.tssa.options.dao.OptionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	 
	
	<bean id="cooperationDao" class="com.tssa.cooperationBusiness.dao.CooperationDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	 
	
	<bean id="baseCodeDao" class="com.tssa.base.dao.BaseCodeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	
	<bean id="cooperationProductTypeDao" class="com.tssa.cooperationBusiness.dao.CooperationProductTypeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="cooperationProductDao" class="com.tssa.cooperationBusiness.dao.CooperationProductDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="mobileProductDao" class="com.tssa.businessInterface.myInterface.impl.MobileProductDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="myOrderDao" class="com.tssa.businessInterface.myInterface.impl.MyOrderDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="businessCustomerDao" class="com.tssa.businessUser.dao.BusinessCustomerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="businessCommissionSettingDao" class="com.tssa.commissionSetting.dao.BusinessCommissionSettingDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="locationDao" class="com.tssa.location.dao.LocationDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="cooperationLocationReferenceDao" class="com.tssa.cooperationBusiness.dao.CooperationLocationReferenceDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="appVersionDao" class="com.tssa.appVersion.dao.AppVersionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="memberDao" class="com.tssa.member.dao.MemberDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="sideJobDao" class="com.tssa.scheduler.dao.SideJobDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="sysBulletinDao" class="com.tssa.sysBulletin.dao.SysBulletinDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="suitTypeDao" class="com.tssa.suit.dao.SuitTypeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	  
	<bean id="custSuitDao" class="com.tssa.suit.dao.CustSuitDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="businessCustomerResetRecordDao" class="com.tssa.businessUser.dao.BusinessCustomerResetRecordDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="iAllocateSeatNumberRecordDao" class="com.tssa.allocateSeats.dao.IAllocateSeatNumberRecordDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="iAllocateSeatTypeSetDao" class="com.tssa.allocateSeats.dao.IAllocateSeatTypeSetDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="iCateringTableDao" class="com.tssa.bisServiceModel.catering.dao.CateringTableDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
</beans>